.Dental-Video-total {
  display: flex;
  flex-direction: row; /* Horizontal layout for desktop */
  width: 100%;
  margin-top: -20px;
  height: 500px;
  box-sizing: border-box;
}

.dental-video-left {
  width: 55%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text inside */
}

.dental-video-right {
  width: 45%;
  padding: 0; /* Removed padding */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dental-videos-content {
  max-width: 100%;
  height: auto;
  text-align: left; /* Align text to the left */
  margin-bottom: 20px; /* Space between paragraph and button */
}

.dental-videos-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.2em;
color: #093e77;
line-height: 30px;
  margin-bottom: 10px;
}

.dental-videos-content h1 {
  line-height: 55px;
  font-size: 3em; 
  color: #003873;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 20px;
}
.know-more-button {
  margin-top: 20px;
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;
  background-color: #69ba2f; /* Default background color */
  color: aliceblue; /* Default text color */
  border: none; /* Remove border */
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  text-align: center;
  outline: none;
  transition: color 0.4s ease, border-color 0.4s ease;
  z-index: 1; /* Ensure button text is above the pseudo-element */
}

.know-more-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #00aeef; /* Color to fill */
  transition: left 0.4s ease;
  z-index: -1; /* Ensure the pseudo-element is behind the text */
}

.know-more-button:hover::before {
  left: 0; /* Move the fill effect to cover the button */
}

.know-more-button:hover {
  color: #f1f2f2; /* Text color when hovered */
  border-color: #00aeef; /* Border color when hovered */
}


.dental-video-right iframe {
  width: 70%; /* Reduce iframe width */
  height: 50%; /* Reduce iframe height */
}

@media (max-width: 768px) {
  .Dental-Video-total {
    flex-direction: column; /* Vertical layout for mobile */
    height: auto; /* Adjust height for mobile */
    margin-top: 20px;
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text inside */
  }

  .dental-video-left {
    width: 100%;
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text inside */
    padding: 0; /* Removed padding */
  }

  .dental-videos-content {
    width: 100%;
    display: flex;
    flex-direction: column; /* Vertical layout for content */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text inside */
  }

  .dental-video-right {
    width: 100%;
    align-items: center; /* Center content horizontally */
    text-align: center;
    margin-top: 20px; /* Space between content and video */
  }

  .dental-video-right iframe {
    width: 80%;
    height: 205px; /* Adjust height for mobile if necessary */
  }

  .dental-videos-content p, .dental-videos-content h1, .know-more-button {
    text-align: center; /* Center text inside */
  }
  .dental-videos-content h1 {
    font-size: 2em; 
  }
  .dental-videos-content p {
  font-size: 1em;
  }
}
