.productRelatedVideoSection{
text-align: center;
margin: 0 auto;
padding: 20px;
}
.productSection .productRelatedVideos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .productSection .productRelatedVideoCard {
    padding: 20px;
    margin: 10px 0;
    box-sizing: border-box;
  }